.startingPage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 660px;
  min-height: 810px;
}

.subtitle {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
}

.categories {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.difficultyContainer {
  display: none;

  &_visible {
    display: block;
  }
}

.difficulty {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.button {
  display: none;
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 50px;
  background-color: #fd0396;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  list-style: none;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in;

  &_visible {
    display: flex;
  }

  &:hover {
    cursor: pointer;
    background-color: #a80264;
    transition: all .3s ease-in;
  }
}

@media screen and (max-width: 576px) {
  .startingPage {
    padding: 20px;
    gap: 30px;
    max-width: 576px;
  }

  .subtitle {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .categories {
    flex-direction: column;
    gap: 20px;
  }

  .difficulty {
    flex-direction: column;
    gap: 20px;
  }
}